<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Lafayette's Revolution Planner</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/preparetrip}" method="POST">
    <input type="hidden" name="taskId" th:value="${taskId}" />
    <input type="hidden" name="callbackUrl" th:value="${callbackUrl}" />
    <p>
        <label for="money">Pack Cash<sup>*</sup></label><br />
        <input required type="number" step="0.01" min="0" name="money" id="money" />
    </p>
    <p>
        <label for="country">Where are you headed to?<sup>*</sup></label><br />
        <select required id="country" name="country">
            <option th:each="country : ${countries}" th:value="${country.name}" th:text="${country.name}"></option>
        </select>
    </p>
    <p>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </p>
    </form>
</body>
</html>